<!-- <p>remoteapicountries1 works!</p> -->

<div class = "form-wrapper" >

    

        

        <div class = "buttons-nav" >

            
            <div id="part1">
                <button  class="navitem"
                (click)="getRemoteData()">
                Fetch Remote Data
                </button>

                <button  class="navitem"
                (click)="getLocalData()">
                Get Local Data
                </button>
            </div>    
            

            <div id="part2">
                <button  class="navitem"
                (click)="userLogout()">
                Log-Out
                </button>
            </div>
            

        </div>

    

</div>
<hr>
