<!-- <p>countries-table works!</p> -->

<h2>Countries :  </h2>
<!-- <p *ngFor="let country of my_countries"> {{country.name}}</p> -->


<div class="tcontent">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Country</th>
          <th>Capital</th>
          <th>Region</th>
          <th>SubRegion</th>
          <th>Population</th>
          <th>Total Aerea</th>
          <th>Country Codes</th>
          <th>GDP</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mcountry of my_countries" (click)="selectedCountry(mcountry)"
        [ngClass] = "{'highlight' : mcountry.name == my_country.name}"
        >

          <td>{{mcountry.id}}</td>
          <td>{{mcountry.name}}</td>
          <td>{{mcountry.capital}}</td>
          <td>{{mcountry.region}}</td>
          <td>{{mcountry.subregion}}</td>
          <td>{{mcountry.population | number }}</td>
          <td>{{mcountry.area | number }} km<sup>2</sup></td>
          <td>{{mcountry.alpha2code}} / {{mcountry.alpha3code}}</td>
          <td>{{mcountry.gdp | currency: 'USD' }}</td>
        </tr>
      </tbody>
    </table>
  </div>


<hr>

<!-- 
  <div class = 'myrow'>
  <div class = 'mycolumn'>
     I prefer: {{my_country.name}}
  </div>
  <div class = 'mycolumn2'>
    <button (click)="addCountry()">Add Country</button>
    <button (click)="delCountry()">Del Country</button>
  </div>
</div> 
-->

<!-- 
  We are inside the countries-table.component.html template, 
  of the 'CountriesTableComponent'. This is the parent component.
  Here, using the <app-country-crud> selector/tag, the child 
  component 'CountryCrudComponent' starts .
  ---------------------------------------------------------------
  my_country -        This is property of the current (parent) 'CountriesTableComponent'. 
                      We can use properties of the current (parent) template putting 
                      them inside tqutes, e.g. "my_country", "my_countries", etc.
  nc_country -        This is property of the child component - (@Input decorated.)
                      We use child properties inside square brackets and we can pass 
                      them, values of the current - parent properties.  

  onAddCountry -      Method of current/parent component 'CountriesTableComponent'.
  onUpdCountry -      Method of current/parent component 'CountriesTableComponent'.
  onDelCountry -      Method of current/parent component 'CountriesTableComponent'.

  (emitAddCountry) -  Method of child component 'CountryCrudComponent' (@Output decorated).
  (emitUpdCountry) -  Method of child component 'CountryCrudComponent' (@Output decorated).
  (emitDelCountry) -  Method of child component 'CountryCrudComponent' (@Output decorated).

  ($event) -          This is what-ever data passed via calling the .emit(...) function
                      from an @Output EventEmitter<> property in the child component
                      'CountryCrudComponent'.
-->
<div>
  <app-country-crud
    [nc_country] = "my_country"
    (emitAddCountry) = "onAddCountry($event)"
    (emitUpdCountry) = "onUpdCountry($event)"
    (emitDelCountry) = "onDelCountry($event)"
    >
  </app-country-crud>  

</div>
<hr>







