<!-- <p>country-crud works!</p> -->

<form class="form-wrapper">

    
    <h3 class = "header-row">
        <div id="item1"> Country's Data:</div> 
        <div id="item2"> {{nc_country.name}} </div>
    
    </h3>
    

    <ul>
    
        <li class="form-row">
            <label for="cid">ID:</label>
            <input name="cid" type = "number" id="cid" value = {{nc_country.id}} #newcid>  
        </li>

        <li class="form-row">
            <label for="cname">Name:</label>
            <input name="cname" id="cname"  value = {{nc_country.name}} #newcname>  
        </li>

        <li class="form-row">
            <label for="ccapital">Capital:</label>
            <input name="ccapital" id="ccapital"  value = {{nc_country.capital}}  #newccapital> 
        </li>

        <li class="form-row">
            <label for="cregion">Region:</label>
            <input name="cregion" type = "text" id="cregion"  value = {{nc_country.region}} #newcregion>  
        </li>

        <li class="form-row">
            <label for="csubregion">Subregion:</label>
            <input name="csubregion" type = "text" id="csubregion"  value = {{nc_country.subregion}} #newcsubregion>  
        </li>


        <li class="form-row">
            <label for="cpopulation">Population:</label>
            <input name="cpopulation" type = "number" id="cpopulation"  value = {{nc_country.population}} #newcpopulation>  
        </li>

        <li class="form-row">
            <label for="carea">Area:</label>
            <input name="carea" type = "number" id="carea"  value = {{nc_country.area}} #newcarea>  
        </li>

        <li class="form-row">
            <label for="calpha2code">Abr2:</label>
            <input name="calpha2code" id="calpha2code"  value = {{nc_country.alpha2code}} #newcalpha2code>  
        </li>

        <li class="form-row">
            <label for="calpha3code">Abr3:</label>
            <input name="calpha3code" id="calpha3code"  value = {{nc_country.alpha3code}} #newcalpha3code>  
        </li>

        <li class="form-row">
            <label for="cgdp">GDP:</label>
            <input name="cgdp" type = "number" id="cgdp"  value = {{nc_country.gdp}} #newcgdp> 
        </li>

    </ul>

    <div class = "buttons-nav">
        
        <button class="navitem"
        (click)="addRecord(
                        newcid, 
                        newcname, 
                        newccapital,
                        newcregion,
                        newcsubregion,
                        newcpopulation,
                        newcarea,
                        newcalpha2code,
                        newcalpha3code,
                        newcgdp
                        )">
        Add
        </button>
    
        <button class="navitem"
        (click)="updRecord(
                        newcid, 
                        newcname, 
                        newccapital,
                        newcregion,
                        newcsubregion,
                        newcpopulation,
                        newcarea,
                        newcalpha2code,
                        newcalpha3code,
                        newcgdp
                        )">
        Update
        </button>
        
        <button class="navitem"
        (click)="delRecord(newcid)">
        Delete
        </button>

        <!-- <input class="navitem" type="reset" value="Clear"> -->
        <button class="navitem" type="reset" 
        (click)="clsForm()">
        Clear
        </button>

    </div>

  </form>
