<!-- <p>login1 works!</p> -->


  <div class="login">
    
    <form [formGroup]="loginForm1" class="login-container" (ngSubmit)="loginSubmit()">
  
      
      <h2 class="login-header">
          <p>
            Coutries App Log in
          </p>
      </h2>
      

      <p [ngClass]="{ 'has-error': isSubmitted && formControls.logEmail.errors }">
        <input type="email" placeholder="Email" formControlName="logEmail">
      </p>
      <div *ngIf="isSubmitted && formControls.logEmail.errors" >
        <div *ngIf="formControls.logEmail.errors.required">Email is required</div>
      </div>


  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.logPassword.errors }">
        <input type="password" placeholder="Password" formControlName="logPassword">
      </p>
      <div *ngIf="isSubmitted && formControls.logPassword.errors" >
        <div *ngIf="formControls.logPassword.errors.required">Password is required</div>
      </div>
  

      <p>
        <input type="submit" value="Log in">
      </p>
      
    </form>
  </div>
  


























